{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <div id="alert"></div>

    <button id="ping">Ping</button>

{% endblock %}

{% block javascripts %}
    {{  parent() }}

    <script>
        const ping =  document.getElementById("ping");
        ping.addEventListener("click", () => {
            fetch("http://localhost:280/events/ping")
        })
        const url = new URL('http://localhost:9090/.well-known/mercure');
        // All Review resources will match this pattern
        url.searchParams.append('topic', 'http://localhost:280/events/ping');

        const eventSource = new EventSource(url);
        eventSource.onmessage = event => {
            document.getElementById("alert").innerText = event.data;
        }
    </script>
{% endblock %}

