<form method="post" action="{{ path('lesson_history_delete', {'id': lesson_history.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson_history.id) }}">
    <button class="btn">Delete</button>
</form>
