{% extends 'base.html.twig' %}

{% block title %}Edit LessonHistory{% endblock %}

{% block body %}
    <h1>Edit LessonHistory</h1>

    {{ include('lesson_history/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lesson_history_index') }}">back to list</a>

    {{ include('lesson_history/_delete_form.html.twig') }}
{% endblock %}
