{% extends 'base.html.twig' %}

{% block title %}LessonHistory index{% endblock %}

{% block body %}
    <h1>LessonHistory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Chapter</th>
                <th>IsOver</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson_history in lesson_histories %}
            <tr>
                <td>{{ lesson_history.id }}</td>
                <td>{{ lesson_history.chapter }}</td>
                <td>{{ lesson_history.isOver ? 'Yes' : 'No' }}</td>
                <td>{{ lesson_history.createdAt ? lesson_history.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ lesson_history.updatedAt ? lesson_history.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('lesson_history_show', {'id': lesson_history.id}) }}">show</a>
                    <a href="{{ path('lesson_history_edit', {'id': lesson_history.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lesson_history_new') }}">Create new</a>
{% endblock %}
