{% extends 'base.html.twig' %}

{% block title %}New LessonHistory{% endblock %}

{% block body %}
    <h1>Create new LessonHistory</h1>

    {{ include('lesson_history/_form.html.twig') }}

    <a href="{{ path('lesson_history_index') }}">back to list</a>
{% endblock %}
