{% extends 'base.html.twig' %}

{% block title %}LessonHistory{% endblock %}

{% block body %}
    <h1>LessonHistory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lesson_history.id }}</td>
            </tr>
            <tr>
                <th>Chapter</th>
                <td>{{ lesson_history.chapter }}</td>
            </tr>
            <tr>
                <th>IsOver</th>
                <td>{{ lesson_history.isOver ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ lesson_history.createdAt ? lesson_history.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ lesson_history.updatedAt ? lesson_history.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lesson_history_index') }}">back to list</a>

    <a href="{{ path('lesson_history_edit', {'id': lesson_history.id}) }}">edit</a>

    {{ include('lesson_history/_delete_form.html.twig') }}
{% endblock %}
