{% extends 'base.html.twig' %}

{% block title %}ChatRoom{% endblock %}

{% block body %}
    <h1>ChatRoom</h1>

    <div class="alert"></div>

    <button id="ping">Ping</button>

{% endblock %}

{% block javascripts %}
    {% parent() %}

    <script>
        const url = new URL('http://localhost:1337/hub');
        // All Review resources will match this pattern
        url.searchParams.append('topic', 'http://localhost:280/chat/{id}');

        const eventSource = new EventSource(url);
        eventSource.onmessage = event => {
            document.getElementById("alert").innerText = event.data;
        }
    </script>
{% endblock %}
