{% extends 'base.html.twig' %}

{% block title %}Edit ForumAnswer{% endblock %}

{% block body %}
    <h1>Edit ForumAnswer</h1>

    {{ include('forum_answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('forum_answer_index') }}">back to list</a>

    {{ include('forum_answer/_delete_form.html.twig') }}
{% endblock %}
