{% extends 'base.html.twig' %}

{% block title %}ForumAnswer index{% endblock %}

{% block body %}
    <h1>ForumAnswer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>IsVisible</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum_answer in forum_answers %}
            <tr>
                <td>{{ forum_answer.id }}</td>
                <td>{{ forum_answer.content }}</td>
                <td>{{ forum_answer.isVisible ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('forum_answer_show', {'id': forum_answer.id}) }}">show</a>
                    <a href="{{ path('forum_answer_edit', {'id': forum_answer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('forum_answer_new') }}">Create new</a>
{% endblock %}
