{% extends 'base.html.twig' %}

{% block title %}New ForumAnswer{% endblock %}

{% block body %}
    <h1>Create new ForumAnswer</h1>

    {{ include('forum_answer/_form.html.twig') }}

    <a href="{{ path('forum_answer_index') }}">back to list</a>
{% endblock %}
