{% extends 'base.html.twig' %}

{% block title %}ForumAnswer{% endblock %}

{% block body %}
    <h1>ForumAnswer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ forum_answer.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ forum_answer.content }}</td>
            </tr>
            <tr>
                <th>IsVisible</th>
                <td>{{ forum_answer.isVisible ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('forum_answer_index') }}">back to list</a>

    <a href="{{ path('forum_answer_edit', {'id': forum_answer.id}) }}">edit</a>

    {{ include('forum_answer/_delete_form.html.twig') }}
{% endblock %}
