<form method="post" action="{{ path('lesson_chapter_block_delete', {'id': lesson_chapter_block.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson_chapter_block.id) }}">
    <button class="btn">Delete</button>
</form>
