{% extends 'base.html.twig' %}

{% block title %}Edit LessonChapterBlock{% endblock %}

{% block body %}
    <h1>Edit LessonChapterBlock</h1>

    {{ include('lesson_chapter_block/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lesson_chapter_block_index') }}">back to list</a>

    {{ include('lesson_chapter_block/_delete_form.html.twig') }}
{% endblock %}
