{% extends 'base.html.twig' %}

{% block title %}LessonChapterBlock index{% endblock %}

{% block body %}
    <h1>LessonChapterBlock index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Position</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson_chapter_block in lesson_chapter_blocks %}
            <tr>
                <td>{{ lesson_chapter_block.id }}</td>
                <td>{{ lesson_chapter_block.title }}</td>
                <td>{{ lesson_chapter_block.content }}</td>
                <td>{{ lesson_chapter_block.position }}</td>
                <td>{{ lesson_chapter_block.createdAt ? lesson_chapter_block.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ lesson_chapter_block.updatedAt ? lesson_chapter_block.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('lesson_chapter_block_show', {'id': lesson_chapter_block.id}) }}">show</a>
                    <a href="{{ path('lesson_chapter_block_edit', {'id': lesson_chapter_block.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lesson_chapter_block_new') }}">Create new</a>
{% endblock %}
