{% extends 'base.html.twig' %}

{% block title %}New LessonChapterBlock{% endblock %}

{% block body %}
    <h1>Create new LessonChapterBlock</h1>

    {{ include('lesson_chapter_block/_form.html.twig') }}

    <a href="{{ path('lesson_chapter_block_index') }}">back to list</a>
{% endblock %}
