{% extends 'base.html.twig' %}

{% block title %}LessonChapterBlock{% endblock %}

{% block body %}
    <h1>LessonChapterBlock</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lesson_chapter_block.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ lesson_chapter_block.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ lesson_chapter_block.content }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ lesson_chapter_block.position }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ lesson_chapter_block.createdAt ? lesson_chapter_block.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ lesson_chapter_block.updatedAt ? lesson_chapter_block.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lesson_chapter_block_index') }}">back to list</a>

    <a href="{{ path('lesson_chapter_block_edit', {'id': lesson_chapter_block.id}) }}">edit</a>

    {{ include('lesson_chapter_block/_delete_form.html.twig') }}
{% endblock %}
