{% extends 'base.html.twig' %}

{% block title %}Edit LessonChapter{% endblock %}

{% block body %}
    <h1>Edit LessonChapter</h1>

    {{ include('lesson_chapter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lesson_chapter_index') }}">back to list</a>

    {{ include('lesson_chapter/_delete_form.html.twig') }}
{% endblock %}
