{% extends 'base.html.twig' %}

{% block title %}LessonChapter index{% endblock %}

{% block body %}
    <h1>LessonChapter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Position</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson_chapter in lesson_chapters %}
            <tr>
                <td>{{ lesson_chapter.id }}</td>
                <td>{{ lesson_chapter.title }}</td>
                <td>{{ lesson_chapter.slug }}</td>
                <td>{{ lesson_chapter.position }}</td>
                <td>{{ lesson_chapter.createdAt ? lesson_chapter.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ lesson_chapter.updatedAt ? lesson_chapter.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('lesson_chapter_show', {'id': lesson_chapter.id}) }}">show</a>
                    <a href="{{ path('lesson_chapter_edit', {'id': lesson_chapter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lesson_chapter_new') }}">Create new</a>
{% endblock %}
