{% extends 'base.html.twig' %}

{% block title %}New LessonChapter{% endblock %}

{% block body %}
    <h1>Create new LessonChapter</h1>

    {{ include('lesson_chapter/_form.html.twig') }}

    <a href="{{ path('lesson_chapter_index') }}">back to list</a>
{% endblock %}
