{% extends 'base.html.twig' %}

{% block title %}LessonChapter{% endblock %}

{% block body %}
    <h1>LessonChapter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lesson_chapter.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ lesson_chapter.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ lesson_chapter.slug }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ lesson_chapter.position }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ lesson_chapter.createdAt ? lesson_chapter.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ lesson_chapter.updatedAt ? lesson_chapter.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lesson_chapter_index') }}">back to list</a>

    <a href="{{ path('lesson_chapter_edit', {'id': lesson_chapter.id}) }}">edit</a>

    {{ include('lesson_chapter/_delete_form.html.twig') }}
{% endblock %}
