<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Documentation Studeo</title>

    {{ encore_entry_link_tags('swagger-ui') }}

    <style>
        html {
            box-sizing: border-box;
            overflow: -moz-scrollbars-vertical;
            overflow-y: scroll;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            margin: 0;
            background: #fafafa;
        }
    </style>
</head>

<body>
<div id="swagger-ui" data-url="{{ path('documentation-json') }}"></div>

{{ encore_entry_script_tags('swagger-ui') }}

</body>
</html>
