{% extends 'base.html.twig' %}

{% block title %}Forum index{% endblock %}

{% block body %}
    <h1>Forum index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>IsVisible</th>
                <th>IsClosed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td>{{ forum.id }}</td>
                <td>{{ forum.title }}</td>
                <td>{{ forum.content }}</td>
                <td>{{ forum.isVisible ? 'Yes' : 'No' }}</td>
                <td>{{ forum.isClosed ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('forum_show', {'id': forum.id}) }}">show</a>
                    <a href="{{ path('forum_edit', {'id': forum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('forum_new') }}">Create new</a>
{% endblock %}
