{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <h1>Forum</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ forum.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ forum.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ forum.content }}</td>
            </tr>
            <tr>
                <th>IsVisible</th>
                <td>{{ forum.isVisible ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsClosed</th>
                <td>{{ forum.isClosed ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('forum_index') }}">back to list</a>

    <a href="{{ path('forum_edit', {'id': forum.id}) }}">edit</a>

    {{ include('forum/_delete_form.html.twig') }}
{% endblock %}
